/HSBC.Deposits.Personnel.Vehicle/HSBC.Deposits.Personnel.Vehicle/bin
/HSBC.Deposits.Personnel.Vehicle/HSBC.Deposits.Personnel.Vehicle/obj
/HSBC.Deposits.Personnel.Vehicle/HSBC.Deposits.Personnel.Vehicle/Properties
/HSBC.Deposits.Personnel.Vehicle/HSBC.Deposits.Personnel.Vehicle/appsettings.Development.json
*.suo
/hsbc second carloans/secondcarloans/bin
/hsbc second carloans/secondcarloans/obj
/hsbc second carloans/secondcarloans/Properties
/hsbc second carloans/secondcarloans/appsettings.Development.json
